.board-wrap {
  width: 92%;
  height: 7vh;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  overflow: hidden;
  position: relative;

  &.login {
    &::after {
      left: unset;
      right: 4px;
    }
  }
}

.info {
  width: 38.4vw;
  height: 100%;
  position: relative;

  .login-btn {
    // outline: 1px solid pink;

    width: 130px;
    height: 38px;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px 0px #bbbbbb;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .login-btn-info {
    font-size: 15px;
    font-weight: bold;

    color: #fff;

    position: absolute;
    // top: -3px;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
  }
}

.login-info-public {
  width: auto;
  display: flex;
  // justify-content: center;
  align-items: center;
  margin-right: 1rem;

  i:first-child {
    margin-right: 10px;
  }

  span {
    font-size: 14px;
    font-weight: bold;
    color: #c0933e;
  }
}

.login-info-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.33vw 0 2vw;

  li {
    display: flex;
    height: 16px;
    line-height: 20px;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .vip-lv {
    // width: 36px;
    height: 20px;
    padding: 0 3px;
    background: linear-gradient(120deg, #f1d7b7 0%, #cca172 50%, #f1c999 100%);
    font-size: 0.75rem;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #cca172;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    flex-shrink: 0;
  }

  .member-name {
    width: 18vw;
    font-size: 0.75rem;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .member-amount {
    width: 33.76vw;
    height: 17px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.operate-btn {
  width: 53.87vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;

  &.no-vip {
    padding: 0 4.5%;
  }
}

.btn-dot {
  // outline: 1px solid pink;

  width: 40px;
  height: 40px;
  line-height: 36px;

  font-size: 21px;
  font-weight: bold;
  color: #fff;
  text-align: center;

  background: url("~src/assets/img/member-board/btn.png") no-repeat center;
  background-size: contain;

  border-radius: 50%;
  box-shadow: 2px 2px 2px 0px #bbbbbb;
  &.btn-vip {
    font-size: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .info {
    button {
      width: 98px;
      height: 24px;
    }
  }

  .operate-btn {
    padding: 0 1%;
  }

  .btn-dot {
    width: 38px;
    height: 38px;
  }
}
